/* google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

/* remove default margin and padding */
* {
    padding: 0;
    margin: 0;
}

/* 1rem = 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* remove underline */
a {
    text-decoration: none;
    color: #FFFFFF;
}

/* set background image to body */
body {
    background-image: url(images/bg-mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* make text color red */
.red {
    color: #D62C40;
}

/* header container styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem 3rem;
    background-color: #151518;
    background-image: linear-gradient(to bottom, #151518 0%, rgb(14, 9, 9) 100%);

    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/* hamburger menu icon styles */
#hamburger, #close {
    font-size: 3.5rem;
    cursor: pointer;
}

/* remove background and border from logo button*/
.logo-container form button {
    background-color: transparent;
    border: none;
}

/* logo styles */
#logo {
    width: 4rem;
    cursor: pointer;
    transition: 0.8s;
}

/* nav menu styles */
#nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: -100vh;
    right: 0;
    transition: 1s;

    background-color: #151518;
    background-image: linear-gradient(to bottom, #151518 0%, rgb(14, 9, 9) 100%);
    gap: 1.5rem;
}

/* nav item text styles */
.nav-item {
    list-style: none;
}

/* nav-item button styles */
.nav-item button {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;

    background: transparent;
    border: none;
}

/* close menu button */
#close {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

/* main styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
}

/* text container styles */
.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

/* greeting text styles */
.main-text-container h1, .main-text-container h2 {
    font-weight: 400;
    text-align: center;
}

.main-text-container h2 {
    line-height: 2rem;
}

/* button container styles */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
}

/* hire me and portfolio button styles */
.button-container button {
    background-color: rgba(0,0,0,0.75);
    border: 1px solid white;

    width: 12.5rem;
    padding: 1rem 3rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;

    transition: 0.2s;
    cursor: pointer;

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

/* ----- 
----- ABOUT ME STYLES ----- 
----- */

/* text container styles */
.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.5rem;
    padding: 2rem;
}

/* "About Giorgi Chagelishvili" heading styles */
.about-text-container h1 {
    font-weight: 400;
    font-size: 2.2rem;

    border-left: 5px solid #D62C40;
    padding-left: 1.5rem;
}

/* "Skills: .." heading styles */
.about-text-container h2 {
    font-weight: 400;
}

/* paragraphs container styles */
/* center elements inside, add transparent bg color and padding */
.about-paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-width: 30rem;
    align-self: center;

    padding: 1.5rem;
    background-color: rgba(0,0,0,0.5);
}

/* paragraph text styles */
.about-paragraph-container p {
    font-size: 1.4rem;
}

/* projects button container styles */
.about-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
}

/* "PROJECTS" button styles */
.about-button-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
    background: rgba(0,0,0,0.25);
    border: 1px solid white;
    padding: 1rem 3rem;

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

/* about page social media icon container styles */
.about-social-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* social media icon styles */
.about-social-button-container button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    color: white;

    border: none;
    background-color: #D62C40;

    padding: 0.8rem;
    margin: 2rem 0;

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

/* ----- 
----- MAILTO PAGE STYLES ----- 
----- */

/* center everything on the page */
.mailto-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    padding: 4rem 0;
}

/* contains everything inside "Get in touch" block */
.contact-info-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    background-color: rgba(0,0,0,0.5);
    padding: 4rem 2rem;

    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

/* "Get in touch" heading styles */
.contact-info-flex h1 {
    font-weight: 400;
    border-left: 5px solid #D62C40;
    padding-left: 1rem;
}

/* Paragraph below "Get in touch" heading styles */
.contact-info-flex p {
    font-size: 1.2rem;
    width: 28rem;
    margin: 1.5rem 0;
}

/* contact info contains icon and info */
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* contact info text styles e.g. "chagx116@gmail.com" */
.contact-info-container span,
.contact-info-container a {
    font-size: 1.4rem;
}

/* contains icons */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D62C40;
    
    width: 3rem;
    height: 3rem;
}

/* set font size for icons */
.icon-container i {
    font-size: 2rem;
}

/* mailto form styles */
.mailto-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

/* mailto input and text area styles (subject, email, message) */
.mailto-form input,
.mailto-form textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;

    padding: 1rem;
    width: 32rem;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

/* "send" button styles */
.mailto-form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    padding: 1rem 3rem;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}


/* ----- 
----- PROJECTS PAGE STYLES ----- 
----- */
.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    padding: 2rem 0;
}

/* image (project) container styles */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;

    padding: 2rem;
    background-color: rgba(48, 47, 47, 0.35);

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

/* project preview image styles */
.project-image {
    border: 1px solid white;
    width: 100%;
}

/* project name styles */
.project-name {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

/* project description text styles */
.description {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}

/* full portfolio button container styles */
.full-portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* "full portfolio" button styles */
#full-portfolio-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    padding: 1rem 3rem;
    margin: 2rem 0;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

/* ----- 
----- DESKTOP STYLES ----- 
----- */
@media screen and (min-width: 1024px) {
    /* increase padding for header */
    .header-container {
        padding: 2rem 5rem;
    }

    /* get rid of hamburger menu and close menu icons */
    #hamburger, #close {
        display: none;
    }

    /* make nav-menu visible */
    #nav-menu {
        position: static;
        background-color: transparent;
        background-image: none;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    /* add hover effects to nav-menu buttons */
    .nav-item button {
        cursor: pointer;
        text-transform: none;
        transition: 0.2s;
    }

    .nav-item button:hover {
        transform: translateX(5%);
        color: #D62C40;
    }

    /* increase size of logo and add hover effect */
    #logo {
        width: 5rem;
    }

    #logo:hover {
        transform: rotate(180deg);
    }

    /* add hover effect to buttons on homepage */
    .button-container button:hover {
        background-color: #D62C40;
    }

    /* ----------------- MAILTO PAGE STYLES ------------------- */
    /* change layout of mailto page */
    .mailto-page-container {
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 12rem 0;
    }

    /* add hover effect to mailto send button */
    .mailto-form button {
        cursor: pointer;
        transition: 0.2s;
    }

    .mailto-form button:hover {
        background-color: #D62C40;
        transform: scale(1.05);
    }

    /* ----------------- ABOUT PAGE STYLES ------------------- */
    /* increase padding for about page text container */
    .about-text-container {
        padding: 5rem 10rem 0 5rem;
    }

    /* change layout of about me paragraphs */
    .about-paragraph-container {
        align-items: flex-start;
        align-self: auto;
        gap: 2.5rem;
        padding: 3rem;
        max-width: 108rem;
    
    }
    
    /* increase font size of about me paragraphs */
    .about-paragraph-container p {
        font-size: 1.6rem;
    }

    /* increase margin-top for buttons on about me page */
    .about-button-container {
        margin-top: 2rem;
    }

    /* add hover effects to buttons and social media icons on about me page */
    .about-button-container button,
    .about-social-button-container button {
        cursor: pointer;
        transition: 0.2s;
    }

    .about-button-container button:hover,
    .about-social-button-container button:hover {
        transform: scale(1.05);
        background-color: #D62C40;
    }

    /* ----------------- PROJECTS PAGE STYLES ------------------- */
    /* increase gap between project containers */
    .grid-container {
        gap: 8rem;
    }

    /* add hover effects to project containers */
    .image-container {
        max-width: 38rem;
        height: 25rem;

        transition: 0.2s;
        cursor: pointer;
    }

    .image-container:hover {
        transform: scale(1.05);
    }

    /* add hover effects to "full portfolio" button */
    #full-portfolio-button {
        cursor: pointer;
        transition: 0.2s;
    }

    #full-portfolio-button:hover {
        background-color: #D62C40;
    }
}