{% extends "layout.html" %} 

{% block body %}

    <div class="mailto-page-container">
        <div class="contact-info-flex">
            <h1>Get in touch</h1>

            <p>
                Available to work with interesting companies 
                as well with individuals.
            </p>

            <div class="contact-info-container">
                <div class="icon-container">
                    <i class="material-symbols-outlined">mail</i>
                </div>
                <span>chagx116@gmail.com</span>
            </div>

            <div class="contact-info-container">
                <div class="icon-container">
                    <i class="fa fa-github"></i>
                </div>
                <a href="https://github.com/giochagelishvili/">
                    @giochagelishvili
                </a>
            </div>

            <div class="contact-info-container">
                <div class="icon-container">
                    <i class="fa fa-linkedin"></i>
                </div>
                <a href="https://www.linkedin.com/in/giochagelishvili/">
                    @giochagelishvili
                </a>
            </div>

            <div class="contact-info-container">
                <div class="icon-container">
                    <i class="material-symbols-outlined">location_on</i>
                </div>
                <span>Tbilisi, Georgia</span>
            </div>
        </div>

        <form class="mailto-form" action="mailto:chagx116@gmail.com" method="get" enctype="text/plain">
            <input required placeholder="Subject" type="text" name="subject" id="subject">
            <input required placeholder="Your Email" type="email" name="email" id="email">
            <textarea required placeholder="Your Message" name="body" id="body" cols="40" rows="10"></textarea>
            <button type="submit" value="Send">send</button>
        </form>
    </div>


    <!-- <main class="mailto-main">
        <div class="flex-container">
            <div class="contact-container">
                <h1>Get in touch</h1>

                <p>
                    Available to work with interesting companies
                    as well with individuals.
                </p>

                <div class="contact-info-container">
                    <div class="info-container">
                        <div class="icon-container">
                            <i class="material-symbols-outlined">
                                mail
                            </i>
                        </div>
                        <span>chagx116@gmail.com</span>
                    </div>
                    <div class="info-container">
                        <div class="icon-container">
                            <i class="fa fa-github"></i>
                        </div>
                        <a target="_blank" href="https://github.com/giochagelishvili/">
                            @giochagelishvili
                        </a>
                    </div>
                    <div class="info-container">
                        <div class="icon-container">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <a target="_blank" href="https://www.linkedin.com/in/giochagelishvili/">
                            @giochagelishvili
                        </a>
                    </div>
                    <div class="info-container">
                        <div class="icon-container">
                            <i class="material-symbols-outlined">
                                location_on
                            </i>
                        </div>
                        <span>Tbilisi, Georgia</span>
                    </div>
                </div>
            </div>
        </div>

        <form class="mailto-form" action="mailto:gchag2019@agruni.edu.ge" method="get" enctype="text/plain">
            <input required id="name-input" type="text" name="subject" placeholder="e.g. Your Name">
            <input required id="email-input" type="email" name="email" placeholder="Your Email">
            <textarea required id="textarea-input" name="body" rows="5" cols="30" placeholder="Your Message"></textarea>
            <input id="send-button" type="submit" value="Send">
        </form>
    </main> -->

{% endblock %} 