{% extends "layout.html" %} 

{% block body %}

    <div class="grid-container">
        <div class="image-container" onClick="window.open('https://github.com/giochagelishvili/interior','_blank');">
            <img src="../staticFiles/images/interior.webp" alt="project image" class="project-image">
            <h1 class="project-name">
                Interior Design Webpage
            </h1>
            <p class="description">
                Modern interior design webpage created using
                HTML, CSS and JavaScript.
            </p>
        </div>
        <div class="image-container" onClick="window.open('https://github.com/giochagelishvili/artgallery','_blank');">
            <a href="#" class="project-link">
                <img src="../staticFiles/images/artgallery.webp" alt="project image" class="project-image">
            </a>
            <h1 class="project-name">
                Art Gallery Webpage
            </h1>
            <p class="description">
                Multiple page art gallery website.
                Interactive, user-friendly, responsive.
                Created with HTML and CSS.
            </p>
        </div>
        <div class="image-container" onClick="window.open('https://github.com/giochagelishvili/equalizer','_blank');">
            <a href="#" class="project-link">
                <img src="../staticFiles/images/equalizer.webp" alt="project image" class="project-image">
            </a>
            <h1 class="project-name">
                Equalizer Landing Page
            </h1>
            <p class="description">
                Exercise landing-page project 
                with tricky design. Created using HTML and CSS. 
            </p>
        </div>
        <div class="image-container" onClick="window.open('https://github.com/giochagelishvili/product-review','_blank');">
            <a href="#" class="project-link">
                <img src="../staticFiles/images/product-review.webp" alt="project image" class="project-image">
            </a>
            <h1 class="project-name">
                Product Review Page
            </h1>
            <p class="description">
                Product review webpage. Fully responsive and 
                as user-friendly as possible. 
            </p>
        </div>
        <div class="image-container" onClick="window.open('https://github.com/giochagelishvili/landingpage','_blank');">
            <a href="#" class="project-link">
                <img src="../staticFiles/images/landing.webp" alt="project image" class="project-image">
            </a>
            <h1 class="project-name">
                Skilled Landing Page
            </h1>
            <p class="description">
                Another landing page project developed 
                using HTML and CSS.
            </p>
        </div>
    </div>

    <div class="full-portfolio-container">
        <button id="full-portfolio-button" onClick="window.open('https://github.com/giochagelishvili','_blank');">
            FULL PORTFOLIO
        </button>
    </div>

{% endblock %} 